@{
    ViewData["Title"] = "Home Page";
}
<<main style="overflow: auto" class="main-body">
    <h1 class="orange">Розклад</h1>
    <ul>
        <li>Продаж нових автомобілів</li>
        <li>Продаж вживаних автомобілів</li>
        <li>Кредитування</li>
        <li>Трейд-ін</li>
        <li>Сервісне обслуговування</li>
    </ul>
</main>