@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section class="section" style="width: 100%;">
        <div class="container">
            <div class="title-box">
                <div class="title-box__title">Зараз у прокаті</div>
            </div>
            <div class="movies-hire" style="position: relative; height: 1221.77px;">
                <figure class="movie-hire movies                 date_01" style="position: absolute; left: 0%; top: 0px;" aria-hidden="true" tabindex="0">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/b4/b47d9f25d1f270e9dafa287b5101fc079782d460.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/uyavni-druzi-if-10357" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="Zw0V4UlRc2g" data-movie-name="Уявні друзі" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/uyavni-druzi-if-10357" tabindex="-1"> Уявні друзі </a>
                            <span class="movie-hire__badge"></span>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+0</div>
                            <div class="movie-hire__tag">комедія</div>
                            <div class="movie-hire__tag">драма</div>
                            <div class="movie-hire__tag">сімейний</div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 25%; top: 0px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/6c/6cf32d1d01c104cac1b83448da964ce33577adea.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/budinok-slovo-neskinchennii-roman-10415" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="MxR257eHEFE" data-movie-name="Будинок «Слово». Нескінчений роман" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/budinok-slovo-neskinchennii-roman-10415" tabindex="-1"> Будинок «Слово». Нескінчений роман </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+16</div>
                            <div class="movie-hire__tag">драма</div>
                            <div class="movie-hire__tag">історія</div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 50%; top: 0px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/6f/6f42e81bdbabfee2d80c085d18325f6a1359cb27.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/korolivstvo-planeti-mavp-10371" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="NUU_Vh1uy-A" data-movie-name="Королівство планети мавп" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/korolivstvo-planeti-mavp-10371" tabindex="-1"> Королівство планети мавп </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+16</div>
                            <div class="movie-hire__tag">фантастика</div>
                            <div class="movie-hire__tag">екшн</div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 75%; top: 0px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/c6/c637fffed5e82180dbb70ec1ecbda3511cd6c900.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/superniki-10370" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="6UG-nqXQxXE" data-movie-name="Суперники" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/superniki-10370" tabindex="-1"> Суперники </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+16</div>
                            <div class="movie-hire__tag">драма</div>
                            <div class="movie-hire__tag">мелодрама</div>
                            <div class="movie-hire__tag">спорт</div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 0%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/98/98c7742c80f05a53cadc0cd9ac8b402dbce2d83e.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/10-zhittiv-10-lives-10420" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="0cmLdR67cqc" data-movie-name="10 життя" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/10-zhittiv-10-lives-10420" tabindex="-1"> 10 життя </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+0</div>
                            <div class="movie-hire__tag">анімація</div>
                            <div class="movie-hire__tag">комедія</div>
                            <div class="movie-hire__tag">сімейний</div>
                        </div>
                    </figcaption>
                </figure><figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 25%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/d1/d18b860a7372c090e6a47d9d939dd76002e702f9.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/krashanka-10404" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="IbhxW4iXWvM" data-movie-name="Крашанка" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/krashanka-10404" tabindex="-1"> Крашанка </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+12</div>
                            <div class="movie-hire__tag">комедія</div>
                        </div>
                    </figcaption>
                </figure><figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 50%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/3f/3fb3db17d88800d53f798d5c2aed151360a7f844.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/kaskader-the-fall-guy-10353" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="rNRTOE5SC_g" data-movie-name="Каскадер" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/kaskader-the-fall-guy-10353" tabindex="-1"> Каскадер </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+12</div>
                            <div class="movie-hire__tag">комедія</div>
                            <div class="movie-hire__tag"> екшн</div>
                        </div>
                    </figcaption>
                </figure><figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 75%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                    <div class="movie-hire__img-wrap">
                        <img src="https://api.vkino.com.ua/posters/d7/d778b8c6a583d8a039c6e18c8f2bac4e940141be.jpg" alt="" class="movie-hire__img">
                        <div class="movie-hire__icons">
                            <a href="https://premiercity.com.ua/ebigeil-abigail-10356" class="movie-hire__icon movie-hire__icon_ticket" tabindex="-1"></a>
                            <a href="#" class="movie-hire__icon movie-hire__icon_play" data-youtube-id="jSdoJ5-PKx4" data-movie-name="Ебіґейл" tabindex="-1"></a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="movie-hire__title">
                            <a href="https://premiercity.com.ua/ebigeil-abigail-10356" tabindex="-1"> Ебіґейл </a>
                        </div>
                        <div class="movie-hire__tags">
                            <div class="movie-hire__tag">+18</div>
                            <div class="movie-hire__tag">трилер</div>
                            <div class="movie-hire__tag"> жахи</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <section class="section" style="width: 100%;">
            <div class="container">
                <div class="title-box">
                    <div class="title-box__title">Незабаром в прокаті</div>
                </div>
                <div class="movies-hire" style="position: relative; height: 1221.77px;">
                    <figure class="movie-hire movies                 date_01" style="position: absolute; left: 0%; top: 0px;" aria-hidden="true" tabindex="0">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/ab/abb68fcce02209c24640fe40968785dbe0714240.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 30.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/uyavni-druzi-if-10357" tabindex="-1"> Ти мене любиш? </a>
                                <span class="movie-hire__badge"></span>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+16</div>
                                <div class="movie-hire__tag">драма</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 25%; top: 0px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/c8/c8d35ffd635e680b290b2f6d66a16753104f4f0c.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 23.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/budinok-slovo-neskinchennii-roman-10415" tabindex="-1"> Ґарфілд у кіно </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+0</div>
                                <div class="movie-hire__tag">анімація</div>
                                <div class="movie-hire__tag">комедія</div>
                                <div class="movie-hire__tag">пригоди</div>
                                <div class="movie-hire__tag">сімейний</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 50%; top: 0px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/2d/2d69d58aeac04d01414b2542156d30e7d47fd156.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 23.05.2024</time>
                            </div>
                            <figcaption>
                                <div class="movie-hire__title">
                                    <a href="https://premiercity.com.ua/korolivstvo-planeti-mavp-10371" tabindex="-1"> Фуріоза: Шалений Макс. Сага </a>
                                </div>
                                <div class="movie-hire__tags">
                                    <div class="movie-hire__tag">+16</div>
                                    <div class="movie-hire__tag">пригоди</div>
                                    <div class="movie-hire__tag">екшн</div>
                                </div>
                            </figcaption>
                            </div>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 75%; top: 0px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/9b/9bd091e290c1adb0789b7adc3b76df7d4749db36.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 16.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/superniki-10370" tabindex="-1"> Таро </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+16</div>
                                <div class="movie-hire__tag">жахи</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 0%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/6a/6a837bd2c11e3e1846d3adad33a1390925cb784d.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 16.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/10-zhittiv-10-lives-10420" tabindex="-1"> Пробивний чувак </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+16</div>
                                <div class="movie-hire__tag">бойовик</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 25%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/d1/d18b860a7372c090e6a47d9d939dd76002e702f9.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 16.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/krashanka-10404" tabindex="-1"> Відблиск </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+12</div>
                                <div class="movie-hire__tag">драма</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 50%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/41/4107707b7dea7ccff268c3dc07dedd947f2edb3f.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 06.06.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/kaskader-the-fall-guy-10353" tabindex="-1"> Стінг. Жах ночі </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+16</div>
                                <div class="movie-hire__tag">жахи</div>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="movie-hire movies date_13 date_14 date_15" style="position: absolute; left: 75%; top: 619.375px;" aria-hidden="true" tabindex="-1">
                        <div class="movie-hire__img-wrap">
                            <img src="https://api.vkino.com.ua/posters/d0/d05e35cc1e3491ba6334f889b717ac39171427ad.jpg" alt="" class="movie-hire__img">
                            <div class="movie-hire__icons">
                                <time class="movie-coming-soon__time">з 30.05.2024</time>
                            </div>
                        </div>
                        <figcaption>
                            <div class="movie-hire__title">
                                <a href="https://premiercity.com.ua/ebigeil-abigail-10356" tabindex="-1"> Вторгнення. Операція «Дунай» </a>
                            </div>
                            <div class="movie-hire__tags">
                                <div class="movie-hire__tag">+16</div>
                                <div class="movie-hire__tag">байопік</div>
                                <div class="movie-hire__tag">воєнний</div>
                                <div class="movie-hire__tag">драма</div>
                                <div class="movie-hire__tag">історичний</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </section>
</main>