@model List<Core.Models.Movie.Movie>

@{
    ViewData["Title"] = "Home Page";
}
<main class="main-body">
    <section class="section" style="width: 100%;">
        <div class="container">
            <div class="title-box">
                <div class="title-box__title">Зараз у прокаті</div>
            </div>
            <div class="movies-hire">
                @foreach (var movie in Model)
                {
                    <partial model="@movie" name="MovieCard"/>
                }
            </div>
        </div>
    </section>
</main>