@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Core.Models.Movie.Movie>
@{
    ViewData["Title"] = "Home Page";
}
<main class="main-body">
    <section class="section" style="width: 100%;">
        <div class="container">
            <div class="title-box">
                <div class="title-box__title">Зараз у прокаті</div>
            </div>
            <div class="movies-hire">
                @foreach (var movie in Model)
                {
                    <partial model="@movie" name="MovieCard"/>
                }
            </div>
        </div>
    </section>
</main>

@{
    <script>
        if (localStorage.getItem('animated') !== "false")
        {
            localStorage.setItem('animated', "true")
            window.onload = function() {
                var logo = document.querySelector('.sprite');
                var siteTitle = document.querySelector('.site-title');
                logo.style.display = "block";
                logo.style.opacity = 0;
                siteTitle.style.opacity = 0;
                var animation = logo.animate([{opacity: 0}, {opacity: 1}], 2000);
                animation.onfinish = function() {
                    siteTitle.animate([{opacity: 0}, {opacity: 1}], 1000);

                    setTimeout(function() {
                        siteTitle.style.opacity = 1;
                        main.style.display = 'block';
                        document.body.style.overflow = 'auto';
                    }, 1000);
                }
            }
        }
    </script>
}