@{
    ViewData["Title"] = "Home Page";
}
<main style="overflow: auto" class="main-body">
    <div class="container">
        <h1 style="font-size: 30px;text-align: center; margin: 0;">Якщо у вас є запитання або вам потрібна додаткова інформація, будь ласка, зв'яжіться з нами за допомогою наведених нижче контактів.</h1>
        <section>
            <h2 style="font-size: 30px;">Наші контакти</h2>
            <ul>
                <li>
                    <h3 style="font-size: 24px;">Адреса:</h3>
                    <p>вул. Шевченка, 123, м. Київ, Україна</p>
                </li>
                <li>
                    <h3 style="font-size: 24px;" >Телефон:</h3>
                    <p>+38 (044) 123-45-67</p>
                </li>
                <li>
                    <h3 style="font-size: 24px;">Email:</h3>
                    <p>info@sofrcinema.com</p>
                </li>
            </ul>
        </section>
        <section>
            <div class="menu-block">
                <h2 style="font-size: 30px;">Ми в соціальних мережах</h2>
                <div class="menu_soc">
                    <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                        <img src="UI/icons8-facebook.svg" alt="Facebook">
                        <!-- Facebook -->
                    </a>

                    <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                        <!-- Youtube -->
                        <img src="UI/icons8-youtube.svg" alt="Youtube">
                    </a>

                    <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                        <!--Instagram -->
                        <img src="UI/icons8-instagram.svg" alt="Instagram">
                    </a>

                    <a class="menu_soc_item" href="">
                        <!-- Telegram -->
                        <img src="UI/icons8-telegram.svg" alt="Telegram">
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>
