@{
    ViewData["Title"] = "Home Page";
}
<main style="overflow: auto" class="main-body">
    <h1></h1>
    <p>Якщо у вас є запитання або вам потрібна додаткова інформація, будь ласка, зв'яжіться з нами за допомогою наведених нижче контактів.</p>
    <section>
        <h2>Наші контакти</h2>
        <ul>
            <li>
                <h3>Адреса:</h3>
                <p>вул. Шевченка, 123, м. Київ, Україна</p>
            </li>
            <li>
                <h3>Телефон:</h3>
                <p>+38 (044) 123-45-67</p>
            </li>
            <li>
                <h3>Email:</h3>
                <p>info@autoscout.com</p>
            </li>
        </ul>
    </section>
<section>
    <h2>Ми в соціальних мережах</h2>
    <div class="menu-block">
        <div class="menu_soc">
            <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                <img src="UI/icons8-facebook.svg" alt="Facebook">
                <!-- Facebook -->
            </a>

            <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                <!-- Youtube -->
                <img src="UI/icons8-youtube.svg" alt="Youtube">
            </a>

            <a class="menu_soc_item" href="" rel="nofollow" target="_blank">
                <!--Instagram -->
                <img src="UI/icons8-instagram.svg" alt="Instagram">
            </a>

            <a class="menu_soc_item" href="">
                <!-- Telegram -->
                <img src="UI/icons8-telegram.svg" alt="Telegram">
            </a>
        </div>
    </div>
</section>
</main>
