@{
    ViewData["Title"] = "Home Page";
}
<main style="overflow: auto" class="main-body">
	<section id="about">
		<div class="container">
			<h1>SoftCinema</h1>
			<p><br>"SoftCinema" - це затишний кінотеатр, створений для того, щоб гості могли насолоджуватися відпочинком та комфортним переглядом фільмів у зручній атмосфері.</p>
			<p><br>Затишний дизайн: "SoftCinema" прикрашений м'якими тонами та декором, що створює атмосферу тепла та затишку. Акуратні дивани та крісла забезпечують комфортний перегляд фільмів.</p>
			<p><br>Комфортне обладнання: Усі кінозали обладнані передовою аудіо- та відеотехнікою для забезпечення високоякісного звуку та зображення. Гості можуть насолоджуватися кожною деталлю фільму в найкращій якості.</p>
			<p><br>Різноманітність програми: "SoftCinema" пропонує різноманітний вибір фільмів для різних смаків та настроїв. Від новинок голлівудського кіно до артхаусних та фестивальних стрічок - у нас є щось для кожного.</p>
			<p><br>Приємні вечори: У кінотеатрі "SoftCinema" ви можете провести час з друзями або родиною, насолоджуючись фільмами та перекусами з нашого бару.</p>
		</div>
	</section>
</main>