<footer>
    <div class="footer-left">
        <p>SoftCinema &copy; 2024</p>
    </div>
    <div class="footer-right">
        <ul>
            <li><a href="#">Умови використання</a></li>
            <li><a href="#">Політика конфіденційності</a></li>
            <li><a href="">Контакти</a></li>
        </ul>
    </div>
</footer>