
<header>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/head.js"> </script>
    <div class="logo">
        <a href="index.html"><img src="images/logoheader_3.png" alt="Auto Scout logoheader"></a>
    </div>
    <nav>
        <ul>
            <li class="current-page_red">
                <a asp-action="Index"
                   asp-controller="Home" class="current-page_red">ют╡ью</a>
            </li>
            <li class="main-nav_item">
                <a asp-action="Index"
                   asp-controller="Schedule" class="main-nav_link" data-category="content">пнгйкюд</a>
            </li>
            <li class="main-nav_item">
                <a asp-action="Index"
                   asp-controller="Contacts" class="main-nav_link">йнмрюйрх</a>
            </li>
            <li class="main-nav_item">
                <a asp-action="Index"
                   asp-controller="About" class="main-nav_link">опн й╡мнреюрп</a>
            </li>
            <li class="current-page_yellow">
                <a asp-action="Index"
                   asp-controller="Login" class="current-page_yellow">сб╡ирх</a>
            </li>
        </ul>
    </nav>
</header>

