@model Core.Models.Session.Session

<tr class="schedule-table__row category_14" style="position: static; left: 0px; top: 61px;">
    <td class="schedule-table__col">@Model.DateTimeStart.ToString("hh:mm")</td>
    <td class="schedule-table__col">
        <a asp-controller="Film" asp-action="Index" asp-route-id="@Model.Movie.Id">
            <div class="schedule-table__col_name" style="height:100%;width:100%">
                @Model.Movie.Name                                      
                </div>
        </a>
    </td>
    <td class="schedule-table__col">@Model.Hall.Name</td>
    <td class="schedule-table__col schedule-table__col_format">2D</td>
    <td class="schedule-table__col">
        <a href="" class="schedule-hall vkino­link" id="90391" target="_top">
            <button type="button" id="90391" class="schedule-table__btn">Купити</button>
        </a>
    </td>
</tr>