.container {
  max-width: 1150px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container_cabinet {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/*-------------------------------------------------------------------
    Title box
-------------------------------------------------------------------*/
.title-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 57px;
}

.title-box__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.title-box__title_invert {
  color: #312204;
}

/*-------------------------------------------------------------------
    Movies
-------------------------------------------------------------------*/
/*Hire*/
.movies-hire {
  margin: 0 -10px;
}

.movie-hire {
  width: calc(25% - 20px);
  overflow: hidden;
  margin: 0 10px 73px 10px;
  min-height: 1px;
}

.movie-hire:focus {
  outline: none;
}

.movie-hire__img-wrap {
  position: relative;
  height: 450px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
}

.movie-hire__img-wrap:after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 30px;
  left: 30px;
  margin: 0 auto;
  height: 160px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #000;
  z-index: -1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.movie-hire__img-wrap:hover .movie-hire__icons {
  max-width: 147px;
}

.movie-hire__img-wrap:hover .movie-hire__icon {
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.movie-hire__icons {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  -webkit-transition: max-width .3s;
  -o-transition: max-width .3s;
  transition: max-width .3s;
}
.movie-hire__icon {
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(255, 242, 211, 0.66);
  opacity: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.movie-hire__icon:before, .movie-hire__icon:after {
  content: '';
  background-image: url("../images/spritesheet.png");
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  margin: 0 auto;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.movie-hire__icon:after {
  opacity: 0;
}

.movie-hire__icon:hover {
  background-color: #5aa900;
}

.movie-hire__icon:hover:before {
  opacity: 1;
}

.movie-hire__icon:hover:after {
  opacity: 1;
}

.movie-hire__icon_ticket:before {
  background-position: -29px 0px;
  width: 29px;
  height: 27px;
  margin-top: -13.5px;
}

.movie-hire__icon_ticket:after {
  background-position: 0px 0px;
  width: 29px;
  height: 27px;
  margin-top: -13.5px;
}

.movie-hire__icon_play:before {
  background-position: 0px -48px;
  width: 19px;
  height: 22px;
  margin-top: -11px;
}

.movie-hire__icon_play:after {
  background-position: -58px -21px;
  width: 19px;
  height: 22px;
  margin-top: -11px;
}
.movie-hire__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 14px;
}
.movie-hire__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.movie-hire__tag {
  padding: 3px 7px;
  margin: 0 7px 7px 0;
  font-size: 12px;
  line-height: 1;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
}
.movie-hire__img-wrap {
  position: relative;
  height: 450px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
}

.movie-hire__img-wrap:after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 30px;
  left: 30px;
  margin: 0 auto;
  height: 160px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #000;
  z-index: -1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.movie-hire__img-wrap:hover .movie-hire__icons {
  max-width: 147px;
}

.movie-hire__img-wrap:hover .movie-hire__icon {
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.movie-hire__img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

a:hover {
  color: #5aa900;
}

a:focus {
  outline: none;
}
.movie-coming-soon__time {
  background-color: rgba(255, 242, 211, 0.67);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.79;
  color: #312204;
  padding: 0 12px;
}